.postsContainer h3 {
  line-height: 130%;
}

.postsContainer h5 {
  text-transform: uppercase;
  font-family: "Nunito", "Open Sans", sans-serif;
  font-weight: bold;
  color: inherit;
}

.postsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0.5em;
}

.postContainer .thinLineDivider {
  background-color: white;
  margin: 1em auto;
  width: 30%;
  height: 0.8px;
}

.postContainer {
  position: relative;
  z-index: 50;
  padding: 0;
  margin: 0em 0.5em 0.5em;
  width: 30%;
  height: 30%;
  max-width: 490px;
  max-height: 490px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 6px 0px;
}

.postImage,
.postInnerContainer2 {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.postInnerContainer {
  opacity: 0;
  /* opacity: 1; */
  transition: 0.6s;
  cursor: pointer;
}

.postInnerContainer2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: "Avenir", "Nunito", sans-serif;
  word-break: break-word;
  background-color: #0071f0;
}

.postInnerContainer2 h2 {
  font-family: "Andale Mono", "Roboto Mono", serif;
  font-weight: 400;
}

.postInnerContainer2 h4 {
  color: #000;
  font-style: italic;
}

.postInnerContainer2 h1,
.postInnerContainer2 h2,
.postInnerContainer2 h3 {
  color: #fff;
}

.postInnerContainer2 h1,
.postInnerContainer2 h2,
.postInnerContainer2 h3,
.postInnerContainer2 h4 {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.postInnerContainer2 h1,
.postInnerContainer2 h3 {
  font-size: 1.2rem;
}

.postInnerContainer2 h1 {
  font-weight: 600;
}

.postInnerContainer2 h3,
.postInnerContainer2 h4 {
  font-weight: 400;
}

.postInnerContainer2 h2,
.postInnerContainer2 h4 {
  font-size: 1rem;
}

.postInnerContainer2 h1 {
  margin-bottom: 0.5em;
}

.postInnerContainer2 h4 span {
  font-style: normal;
  font-weight: 500;
}

.postInnerContainer2 .postOtherInfo {
  background-color: #fff;
  opacity: 0.9;
  border-radius: 15px;
  margin-top: 2em;
  padding: 1em;
  font-size: 14px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.postInnerContainer2 .postOtherInfo:hover {
  transition: 0.2s;
  box-shadow: none;
  color: #0071f0;
}

.postInnerContainer2 .wotdImg.wg {
  height: 1.5em;
}

.postDescription {
  margin: 0 auto;
  padding: 1em;
  max-height: 250px;
  /* overflow-y: scroll; */
  text-overflow: ellipsis;
}

.postInnerContainer3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/***** Mini-creens ----------- */
@media only screen and (max-width: 740px) {
  .postContainer {
    width: 85%;
    height: 85%;
  }
}

/***** Smaller screens ----------- */
@media only screen and (min-width: 741px) and (max-width: 1060px) {
  .postContainer {
    width: 45%;
  }
}

@media (hover: hover) {
  .postImage:hover {
    cursor: pointer;
  }

  .postInnerContainer:hover {
    opacity: 0.97;
  }
}
